<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2-S4Hq1AZ_ZdtHmUzgeFzlTxp6JQcbZY</string>
	<key>GCM_SENDER_ID</key>
	<string>730948892593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hw5</string>
	<key>PROJECT_ID</key>
	<string>homework5-c7dbe</string>
	<key>STORAGE_BUCKET</key>
	<string>homework5-c7dbe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730948892593:ios:ae5507a1a7d9de18f3ef90</string>
</dict>
</plist>